<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/jquery/jquery-2.0.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/common/common.css"/>
    {#    <link rel="stylesheet" type="text/css" href="/static/common/rollpage.css"/>#}
    <link rel="stylesheet" type="text/css" href="/static/common/blogs.css"/>
    <link rel="stylesheet" type="text/css" href="/static/common/directory.css"/>
    <link href="/static/bootcss/bootstrap-combined.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/static/bootcss/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/common/js/blogs.js"></script>
    <script type="text/javascript" src="/static/common/toTop.js"></script>
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="header">
				<h3 class="text-muted">
					在线视频分享
				</h3>
			</div>
			<div class="row marketing">
				<div class="col-lg-12">
					 <button id="run">开启网络摄像头</button><button id="stop">关闭</button><Br/>
                     <video id="webcam"></video>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
<script type='text/javascript'>//<![CDATA[
window.onload=function(){
navigator.getUserMedia || (navigator.getUserMedia = navigator.mozGetUserMedia || navigator.webkitGetUserMedia || navigator.msGetUserMedia);
if (!navigator.getUserMedia) {
    return;
}
var btn = document.getElementById('run');
btn.onclick = startWebcam;

function startWebcam(e) {
    navigator.getUserMedia({
        video: true,
        audio: true
    }, onSuccess, onError);

    function onSuccess(stream) {

        var video = document.getElementById('webcam');

        if (window.URL) {
            video.src = window.URL.createObjectURL(stream);
        } else {
            video.src = stream;
        }

        video.autoplay = true;
        //or video.play();
    }

    function onError() {}
}
}//]]>
    $(function () {
        $('#stop').click(function(){
            window.stream.stop();
            if(window.stream){
            }else {
                alert('sdf')
            }
        });
    })

function onSuccess(stream) {

    //创建一个音频环境对像
    audioContext = window.AudioContext || window.webkitAudioContext;
    context = new audioContext();

    //将声音输入这个对像
    audioInput = context.createMediaStreamSources(stream);

    //设置音量节点
    volume = context.createGain();
    audioInput.connect(volume);

    //创建缓存，用来缓存声音
    var bufferSize = 2048;

    // 创建声音的缓存节点，createJavaScriptNode方法的
    // 第二个和第三个参数指的是输入和输出都是双声道。
    recorder = context.createJavaScriptNode(bufferSize, 2, 2);

    // 录音过程的回调函数，基本上是将左右两声道的声音
    // 分别放入缓存。
    recorder.onaudioprocess = function(e){
        console.log('recording');
        var left = e.inputBuffer.getChannelData(0);
        var right = e.inputBuffer.getChannelData(1);
        // we clone the samples
        leftchannel.push(new Float32Array(left));
        rightchannel.push(new Float32Array(right));
        recordingLength += bufferSize;
    }

    // 将音量节点连上缓存节点，换言之，音量节点是输入
    // 和输出的中间环节。
    volume.connect(recorder);

    // 将缓存节点连上输出的目的地，可以是扩音器，也可以
    // 是音频文件。
    recorder.connect(context.destination);

}
</script>
