{% extends 'common/layout.html' %} {% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-6 span2" style="background-color:cornsilk" id="menu">
            <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                <i class="glyphicon glyphicon-cog"></i> 系统管理
                <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
            </a>
            <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li><a href="#" onclick="asyn(this,'/articletype') "><i class="glyphicon glyphicon-user"></i>&nbsp;用户管理</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-th-list"></i>&nbsp;菜单管理</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-asterisk"></i>&nbsp;角色管理</a></li>
                <li><a href="#" onclick="asyn(this,'/recource')"><i class="glyphicon glyphicon-edit"></i>&nbsp;资源管理</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;日志查看</a></li>
            </ul>

            <a href="#appSetting" class="nav-header collapsed" data-toggle="collapse">
                <i class="glyphicon glyphicon-cog"></i> 应用设置
                <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
            </a>
            <ul id="appSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li>
                    <a href="#" onclick="asyn(this,'/articletype')">文章分类</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-6 span10" >
            <iframe style="height: 500px;width: 100%;padding:50px 20px 0 20px;" id="content">
{#            {% block setting %}#}
{#            {% endblock %}#}
            </iframe>
        </div>
    </div>
</div>
<script>
    function asyn(dom,url){
        $('#menu ul li ').removeClass('active')
        console.info($(dom).parent().addClass('active'))
        $('#content').attr('src',url);
    }
</script>
{% endblock %}
