{% extends 'common/layout.html' %}
{% block content %}
    <script type="text/javascript" src="/static/jquery/tree/jquery.treetable.js"></script>
    <link href="/static/jquery/tree/jquery.treetable.css" rel="stylesheet" media="screen">
    <link href="/static/jquery/tree/jquery.treetable.theme.default.css" rel="stylesheet" media="screen">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-6 span2"  id="menu">
            <table class="table" id="treeview" >
                <tbody>
                {% for li in recourcelist %}
                        {% set entity= li.tag %}
					<tr data-tt-id="{{ entity.id }}" {% if entity.parentId%} data-tt-parent-id="{{ entity.parentId }}" {% endif %}>
						<td>
							<span onclick="asyn(this,'{{ entity.url }}')"><i class="{{ entity.imgClass }}"></i>&nbsp;{{ entity.name }}</span>
						</td>
					</tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xs-6 span10" >
            <iframe style="height: 500px;width: 100%;padding:50px 20px 0 20px;" id="content">
{#            {% block setting %}#}
{#            {% endblock %}#}
            </iframe>
        </div>
    </div>
</div>
<script>
    function asyn(dom,url){
        if(url==''){
            return;
        }
        $('#menu table tbody tr td span ').css("color","black");
        $(dom).css("color","red");
        $('#content').attr('src',url);
    }
    $(function() {
        $("#treeview").treetable({ expandable: true });
      });
</script>
{% endblock %}
