{% extends 'blogs/index.html' %}
{% block blogsindex %}
    <div class="container-fluid blogs-list-body">
        <div class="btn-group">
            <a class="btn" href="blogs/add">写博客</a>
        </div>
        {% for blogs in blogss %}

            <div class="post_item">
                <div class="digg">
                    <div class="diggit" onclick="DiggPost('index-html',4999897,83633,1)">
                        <span class="diggnum" id="digg_count_4999897">42</span>
                    </div>
                    <div class="clear"></div>
                    <div id="digg_tip_4999897" class="digg_tip"></div>
                </div>
                <div class="post_item_body">
                    <h3><a class="titlelnk" href="/blogs/content?id={{ blogs.id }}"
                           target=" _blank">{{ blogs.title }}</a></h3>

                    <p class="post_item_summary">
                        {{ blogs.synopsis }}
                    </p>

                    <div class="post_item_foot">
                        <a href="http://www.cnblogs.com/index-html/" class="lightblue">EtherDream</a>
                        发布于 2015-11-27 10:35
    <span class="article_comment"><a href="http://www.cnblogs.com/index-html/p/4999897.html#commentform" title=""
                                     class="gray">
        评论(22)</a></span><span class="article_view"><a href="http://www.cnblogs.com/index-html/p/4999897.html"
                                                       class="gray">阅读(4631)</a></span></div>
                </div>
                <div class="clear"></div>
            </div>
        {% endfor %}
    </div>
    {% include 'common/rollpage.html' %}
{% endblock %}