.post_item {
    border-bottom: 1px dotted #ccc;
    border-width: 1px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.digg {
    float: left;
    width: 60px;
}
.diggit {
    background: rgba(0, 0, 0, 0) url("http://static.cnblogs.com/images/upup.gif") no-repeat scroll 0 0;
    cursor: pointer;
    float: left;
    height: 52px;
    margin-top: 1px;
    text-align: center;
    text-indent: 0;
    width: 46px;
}
.diggnum {
    color: #075db3;
    font-family: Verdana;
    font-size: 14px;
    line-height: 2.2em;
}
.digg_tip {
    font-size: 12px;
    margin-top: 5px;
}
.clear {
    clear: both;
}
.post_item_body {
    line-height: 150%;
    margin-left: 50px;
    /*padding-top: 1px;*/
}
.comment_item_body {
    margin-left: 15px;
}
a.titlelnk:link, a.titlelnk:active {
    color: #105cb6;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
a.titlelnk:visited {
    color: #551a8b;
}
a.titlelnk:hover {
    color: red;
    text-decoration: underline;
}
.post_item_summary {
    color: #555;
    margin-left: 10px;
    padding-top: 2px;
}
#post_list .post_item_summary {
    color: #333;
    font-size: 12px;
    line-height: 1.8em;
    margin-bottom: 2px;
    overflow: hidden;
    padding-right: 5px;
    padding-top: 5px;
}
.post_item_img {
    float: right;
    padding-right: 5px;
}
.post_item_foot {
    color: #555;
    margin-left: 10px;
    padding-top: 5px;
}
.post_item_foot a.gray:link, .post_item_foot a.gray:active, .post_item_foot a.gray:visited {
    color: #555;
    text-decoration: none;
}
.post_item_foot a:hover {
    color: #e33e06;
    text-decoration: underline;
}
.comment_item_foot {
    margin-left: 0;
}
a.lightblue:link, a.lightblue:active, a.lightblue:visited {
    color: #005a94;
    text-decoration: none;
}
a.lightblue:hover {
    color: #e33e06;
    text-decoration: underline;
}
.gray {
    font-size: 12px;
}
.grayline:link, .grayline:visited, .grayline:active {
    color: #303030;
    text-decoration: none;
}
.grayline:hover {
    color: #e33e06;
    text-decoration: underline;
}
.grayline2:link, .grayline2:visited, .grayline2:active {
    color: #5f5f5f;
    text-decoration: underline;
}
.grayline2:hover {
    color: #e33e06;
}
.black:link, .black:visited, .black:active {
    color: #404040;
    text-decoration: none;
}
.gray:link, .gray:visited, .gray:active {
    color: gray;
    text-decoration: none;
}
.gray:hover {
    color: #e33e06;
    text-decoration: underline;
}
.gray {
    color: #525252;
}
.gray:link, .gray:visited {
    color: #525252;
    text-decoration: none;
}
.gray:hover {
    color: #f60;
    font-size: 12px;
    text-decoration: underline;
}
#post_list .article_view {
    background: transparent url("http://static.cnblogs.com/images/icon_arrow.gif") no-repeat scroll 0 0;
    margin-left: 1px;
    padding-left: 18px;
    padding-right: 5px;
}
.blogs-list-body{
    background-color: white;
}
.post_item_body  h3{
     line-height: 14px;
    font-size: 15.5px;
}
/**
html, body {
    background: #fff none repeat scroll 0 0;
    color: #000;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
    font-style: inherit;
    font-weight: inherit;
}
del, ins {
    text-decoration: none;
}
li {
    list-style: outside none none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q::before, q::after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sup {
    vertical-align: baseline;
}
sub {
    vertical-align: baseline;
}
legend {
    color: #000;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
input, button, textarea, select {
}

input[type="button"], input[type="submit"] {
}
body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
small {
    font-size: 10px;
}
a {
    outline: 0 none;
}
a:link, a:visited, a:active {
    color: #015fb6;
}
a:hover {
    color: #e33e06;
}
.blue:link, .blue:visited, .blue:active {
    color: #075db3;
    text-decoration: underline;
}
.blue:hover {
    color: #e33e06;
}

.red:link, .red:visited, .red:active {
    color: red;
    text-decoration: none;
}
.red:hover {
    color: red;
    text-decoration: underline;
}

.black:hover {
    color: #f60;
    text-decoration: none;
}
.nav:link, .nav:visited, .nav:active {
    color: #fff;
    text-decoration: none;
}
.nav:hover {
    color: #fff;
    text-decoration: underline;
}

#wrapper {
}
#login_area {
    color: #5b5b5b;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-align: right;
}
#login_area a {
    padding: 0 4px;
}
#span_userinfo {
}
.ing_icon {
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
    vertical-align: middle;
}
#span_ing {
    display: none;
}
#login_area a:link, #login_area a:visited {
    color: #369;
    text-decoration: none;
}
#login_area a:hover {
    color: #f60;
    font-size: 12px;
    text-decoration: underline;
}
#hd_info {
    line-height: 22px;
    margin-left: 3px;
    margin-right: 8px;
    padding-right: 0;
}
#site_nav_top a:link, #site_nav_top a:visited {
    color: #666;
    padding-left: 3px;
    padding-right: 5px;
    text-decoration: none;
}
#site_nav_top a:hover {
    color: #f60;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 5px;
    text-decoration: underline;
}
#site_nav_top {
    color: #666;
    float: left;
}
#cnts {
    margin: auto;
    padding: 0 8px;
}

#header {
    margin-left: 10px;
    margin-right: 10px;
}
#logo_title {
    color: #9a9a9a;
    font-size: 13px;
    left: 5px;
    position: absolute;
    top: 26px;
}
#logo {
    left: 18px;
    position: absolute;
    top: 30px;
}
#banner {
    display: none;
    height: 90px;
    padding-top: 12px;
    position: absolute;
    right: 7px;
    text-align: right;
    top: 20px;
}
#banner_right {
    line-height: 1px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    text-align: right;
    top: -146px;
}
.banner_right_text {
    margin-top: 5px;
}
#header_block {
    border-left: 1px solid #d8dfea;
    border-right: 1px solid #d8dfea;
    height: 65px;
}
.r_b_1 {
    border-left: 2px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    font-size: 0;
    height: 1px;
    line-height: 0;
}
.r_b_2 {
    border-left: 2px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin: 0 1px;
}
.r_b_3 {
    border-bottom: 1px solid #e6e6e6;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0 1px;
}
.h_r_1 {
    border-left: 2px solid #d8dfea;
    border-right: 1px solid #d8dfea;
    font-size: 0;
    height: 1px;
    line-height: 0;
}
.h_r_2 {
    border-left: 2px solid #d8dfea;
    border-right: 1px solid #d8dfea;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin: 0 1px;
}
.h_r_3 {
    border-bottom: 1px solid #d8dfea;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0 1px;
}
.radius_1 {
    border-left: 2px solid #d8dfea;
    border-right: 1px solid #d8dfea;
    font-size: 0;
    height: 1px;
    line-height: 0;
}
.radius_2 {
    border-left: 2px solid #d8dfea;
    border-right: 1px solid #d8dfea;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin: 0 1px;
}
.radius_3 {
    border-bottom: 1px solid #d8dfea;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0 2px;
}
.r_l_1 {
    border-left: 2px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 0;
    height: 1px;
    line-height: 0;
}
.r_l_2 {
    border-left: 2px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin: 0 1px;
}
.r_l_3 {
    border-bottom: 1px solid #ccc;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0 2px;
}
#nav_menu {
    height: 30px;
    line-height: 30px;
    margin: 8px 7px 0 10px;
    padding: 0;
}
#nav_menu {
    background: #2b6695 -moz-linear-gradient(center top , #2b6695, #0e4773) repeat scroll 0 0;
    box-shadow: -3px 1px 3px rgba(0, 0, 0, 0.25);
}
#nav_menu a {
    font-size: 14px;
    padding-left: 24px;
}
#nav_menu a:link, #nav_menu a:visited, #nav_menu a:active {
    color: #eee;
    text-decoration: none;
}
#nav_menu a:hover {
    color: #fff;
    text-decoration: underline;
}
#nav_menu a.hot_nav:link, #nav_menu a.hot_nav:active, #nav_menu a.hot_nav:visited {
    color: #ff0;
}
#nav_menu a.hot_nav:hover {
    color: #ff0;
}
.input_zzk {
    background: #fff url("http://static.cnblogs.com/images/zzk_input.png") no-repeat scroll left top;
    border: 0 none;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
    padding-left: 22px;
    padding-top: 0;
    vertical-align: middle;
    width: 195px;
}
.btn_zzk {
    background: rgba(0, 0, 0, 0) url("http://static.cnblogs.com/images/zzk_btn.png") no-repeat scroll left top;
    border: medium none;
    color: #fff;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    padding-left: 0;
    text-align: center;
    vertical-align: middle;
    width: 58px;
}
#main {
    margin: 10px 320px 0 180px;
    padding: 0;
}
.headline {
    border: 1px dotted #ccc;
    line-height: 24px;
    margin-left: 0;
    margin-right: 15px;
    margin-top: 5px;
    padding: 0 0 0 5px;
}
.headline a:link, .headline a:active, .headline a:visited {
    color: #005a94;
    text-decoration: none;
}
.headline a:hover {
    color: #e33e06;
    text-decoration: underline;
}
.rss_link {
    position: absolute;
    right: 322px;
    top: 154px;
}
#post_nav_sub {
    margin-left: 0;
}
#post_nav_sub a:link, #post_nav_sub a:active, #post_nav_sub a:visited {
    color: #369;
    text-decoration: none;
}
#post_nav_sub a:hover {
    color: #e33e06;
    text-decoration: underline;
}
#post_nav_sub ul li {
    display: inline;
}
#post_list_tips {
    color: #aaa;
    font-size: 13px;
    font-weight: bold;
    margin: 5px;
}
#post_list {
    margin-top: 0;
    padding-left: 5px;
    padding-right: 0;
    padding-top: 10px;
}
#post_list_title {
    height: 28px;
}
.post_nav_block_wrapper {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #fff #fff #c8d3de;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    line-height: 1.5em;
}
.post_nav_block {
    float: left;
    margin-bottom: -1px;
}
.post_nav_block li {
    float: left;
    margin-left: 5px;
    padding: 0;
}
.post_nav_block a:link, .post_nav_block a:visited, .post_nav_block a:active {
    background-color: #e8edf0;
    border: 1px solid #c8d3de;
    color: #333;
    float: left;
    letter-spacing: 1px;
    padding: 4px 10px;
    text-decoration: none;
}
.post_nav_block a.current_nav:link, .post_nav_block a.current_nav:visited, .post_nav_block a.current_nav:active {
    background-color: #fff;
    border-color: #c8d3de #c8d3de #fff;
    border-style: solid;
    border-width: 1px;
    color: #333;
    letter-spacing: 0;
    margin-top: 0;
    padding: 4px 10px;
}
#article_sort {
    display: none;
    padding: 8px 5px 0 0;
    position: relative;
    text-align: right;
}
#post_list ul {
    margin-left: 0;
    padding-left: 0;
}
#post_list li {
    margin-left: 0;
    padding-left: 0;
}

#post_list li {
    margin-bottom: 40px;
}
#post_list h3 {
    font-size: 14px;
    margin: 0 0 5px;
}
.post_item_icon {
    display: none;
    vertical-align: middle;
}


#post_list .article_comment {
    background: transparent url("http://static.cnblogs.com/images/icon_comment.gif") no-repeat scroll 0 0;
    margin-left: 1px;
    padding-left: 18px;
    padding-right: 5px;
}

#next_page {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: -20px;
    padding-right: 10px;
    text-align: right;
}
#blogger_list {
    color: gray;
    line-height: 2em;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 2px;
}
#blogger_list li {
    font-size: 11px;
    overflow: hidden;
    padding-left: 5px;
    width: 140px;
}
#blogger_list a:link, #blogger_list a:active, #blogger_list a:visited {
}
#blogger_list a {
    font-size: 12px;
    height: auto;
    overflow: hidden;
}
.blogger_list {
    color: gray;
    line-height: 2em;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 2px;
}
.blogger_list li {
    overflow: hidden;
    padding-left: 5px;
    width: 140px;
}
.blogger_list a:link, .blogger_list a:active, .blogger_list a:visited {
}
.blogger_list a {
    display: block;
    height: auto;
    overflow: hidden;
}
#side_nav {
    background-color: #eef;
    left: 10px;
    margin-top: 0;
    padding-top: 0;
    position: absolute;
    top: 142px;
    width: 160px;
}
#cate_block {
}
#cate_title_title {
    background: rgba(0, 0, 0, 0) url("http://static.cnblogs.com/images/site_cate_title_bg.png") no-repeat scroll left bottom;
    border-right: 1px solid #83abc6;
    height: 30px;
    line-height: 30px;
}
.cate_title {
    border-bottom: 1px solid #83abc6;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    padding-left: 32px;
    padding-top: 0;
}
#cate_item {
    border-left: 4px solid #146eb4;
    border-right: 1px solid #83abc6;
}
#cate_item li {
    background: rgba(0, 0, 0, 0) url("http://static.cnblogs.com/images/icon_blue_arrow.gif") no-repeat scroll 136px center;
    border-bottom: 1px dotted #83abc6;
    border-right-width: 0;
    color: #00003a;
    font-size: 12px;
    height: 27px;
    line-height: 27px;
    padding-left: 8px;
}
#cate_item li.cate_item_hover {
    background: rgba(0, 0, 0, 0) url("http://static.cnblogs.com/images/cate_item_bg.gif") no-repeat scroll left top;
}
#cate_item a:link, #cate_item a:active, #cate_item a:visited {
    color: #404040;
}
#cate_item li a:link, #cate_item li a:visited, #cate_item li a:active {
    color: #404040;
    display: block;
    text-decoration: none;
}
.cate_link:link, .cate_link:visited, .cate_link:active {
    color: #404040;
    display: block;
    text-decoration: none;
}
#cate_item a:hover {
    color: #f60;
    display: block;
    text-decoration: none;
}
#cate_title_block {
    position: relative;
}
.cate_content_block {
    background: #fff url("http://static.cnblogs.com/images/cate_block_left_border.gif") no-repeat scroll right top;
    border-right: 1px solid #ababab;
    line-height: 2em;
    width: 158px;
}
.cate_content_block ul {
    border-right: 1px solid #999;
    margin-left: 12px;
    padding-bottom: 6px;
}
.cate_content_top {
    background: rgba(0, 0, 0, 0) url("http://static.cnblogs.com/images/cate_block_top.gif") no-repeat scroll right top;
    font-size: 0;
    height: 5px;
    line-height: 0;
    width: 159px;
}
.cate_content_bottom {
    background: rgba(0, 0, 0, 0) url("http://static.cnblogs.com/images/cate_block_bottom.gif") no-repeat scroll right top;
    font-size: 0;
    height: 5px;
    line-height: 0;
    width: 159px;
}
.cate_content_block ul li {
    background: rgba(0, 0, 0, 0) url("http://static.cnblogs.com/images/icon_blue_arrow.gif") no-repeat scroll left center;
    height: 28px;
    padding-left: 10px;
}
.cate_content_block a:link, .cate_content_block a:visited, .cate_content_block a:active {
    color: #404040;
    display: block;
    text-decoration: none;
}
.cate_content_block a:hover {
    color: #f60;
    display: block;
    text-decoration: none;
}
.cate_content_block_wrapper {
    display: none;
    left: 148px;
    position: absolute;
}
#cate_content_block_1 {
    display: none;
    left: 148px;
    position: absolute;
    top: 29px;
}
#cate_content_block_2 {
    display: none;
    left: 148px;
    position: absolute;
    top: 57px;
}
#cate_content_block_3 {
    display: none;
    left: 148px;
    position: absolute;
    top: 85px;
}
#cate_content_block_4 {
    display: none;
    left: 148px;
    position: absolute;
    top: 113px;
}
#cate_content_block_5 {
    display: none;
    left: 148px;
    position: absolute;
    top: 141px;
}
#cate_content_block_6 {
    display: none;
    left: 148px;
    position: absolute;
    top: 168px;
}
#cate_content_block_7 {
    display: none;
    left: 148px;
    position: absolute;
    top: 197px;
}
#cate_content_block_8 {
    display: none;
    left: 148px;
    position: absolute;
    top: 224px;
}
#cate_content_block_9 {
    display: none;
    left: 148px;
    position: absolute;
    top: 253px;
}
.cate_bottom {
    background: rgba(0, 0, 0, 0) url("http://static.cnblogs.com/images/site_cate_bottom_bg.gif") no-repeat scroll left top;
    border-right: 1px solid #83abc6;
    font-size: 0;
    height: 5px;
    line-height: 0;
}
.l_s {
    height: 20px;
}
.w_l {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #404040;
    margin-top: 0;
    padding: 0;
}
.w_l a:link, .w_l a:active, .w_l a:visited {
    color: #404040;
    text-decoration: none;
}
.w_l a:hover {
    color: #e33e06;
    text-decoration: underline;
}
.w_l h4 {
    border-bottom: 0 solid #83abc6;
    color: #222;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    margin: 0;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 5px;
    position: relative;
}
.w_l h4 small {
    color: gray;
    font-size: 12px;
    font-weight: normal;
}
.w_l h4 .more {
    bottom: 2px;
    position: absolute;
    right: 10px;
}
.w_l ul {
    padding-bottom: 5px;
}
.w_l ul li {
    line-height: 20px;
    overflow: hidden;
    padding-left: 15px;
}
.widget_left_nav {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    margin-top: 10px;
}
#site_stats {
    line-height: 150%;
    padding: 10px;
}
.site_stats_item {
    font-size: 11px;
}
#site_stats span {
    font-size: 11px;
}
.left_topic_block {
    border: 1px solid #d8dfea;
    margin-top: 20px;
    padding: 0 10px;
}
h2 {
    font-size: 14px;
}
.image_list {
    text-align: center;
}
.image_list img {
    margin-bottom: 10px;
}
.left_topic_block ul {
    line-height: 2em;
    padding-bottom: 10px;
}
.left_topic2_title {
    background-color: #edeff4;
    border-bottom: 1px solid #d8dfea;
    border-top: 1px solid #d8dfea;
    margin-top: 20px;
    padding-left: 10px;
}
.left_topic2_body {
    line-height: 2em;
    margin-left: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
}
.topic_time_nav li {
    cursor: pointer;
    float: left;
    padding: 6px 7px 2px;
}
.topic_time_nav li.current {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #d8dfea #d8dfea #fff;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 2px;
    padding-top: 4px;
    position: relative;
    top: 1px;
}
.ad_left {
    margin-top: 10px;
}
#side_right {
    background-color: #eef;
    position: absolute;
    right: 7px;
    top: 174px;
    width: 300px;
}
#link_zone {
    border: 1px solid #cae0f5;
    line-height: 1.8em;
    padding: 3px 5px;
}
.w_r {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 5px;
}
.w_r h4 {
    color: #e47911;
    font-size: 13px;
    font-weight: bold;
    margin-top: 0;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-top: 2px;
    position: relative;
}
.w_r h4 .more {
    bottom: 2px;
    position: absolute;
    right: 10px;
}
.w_r ul {
    overflow: hidden;
    padding-left: 5px;
    width: 280px;
}
.w_r ul li {
    line-height: 1.5;
    overflow: hidden;
    padding: 2px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.w_r ul a {
}
.w_r ul a:link, .w_r ul a:visited, .w_r ul a:active {
    color: #404040;
    text-decoration: none;
}
.w_r ul a:hover {
    color: red;
    text-decoration: underline;
}
a.s_r_t:link, a.s_r_t:visited, a.s_r_t:active, a.s_r_t:hover {
    color: #e47911;
    font-weight: bold;
    text-decoration: none;
}
.w_r h4 a:link, .w_r h4 a:visited, .w_r h4 a:active, .w_r h4 a:hover {
    color: #e47911;
    font-weight: bold;
    text-decoration: none;
}
.right_topic_body {
    line-height: 2em;
    margin-top: 5px;
    padding-left: 5px;
}
.right_topic_body a:link, .right_topic_body a:active, .right_topic_body a:visited {
    color: #404040;
    text-decoration: none;
}
.right_topic_body a:hover {
    color: #004b91;
    text-decoration: underline;
}
.right_mid_ad {
    margin-top: 30px;
}
a.right_more:link, a.right_more:active, a.right_more:visited {
    text-decoration: none;
}
h4 .more a:link, h4 .more a:active, h4 .more a:visited {
    text-decoration: none;
}
.ad_right {
    height: 250px;
    margin-bottom: 10px;
    margin-top: 0;
    overflow: hidden;
    width: 300px;
}
.ad_right_text {
    color: #555;
    line-height: 180%;
    margin-bottom: 10px;
    padding: 0 5px 0 10px;
}
.ad_right_text ul li {
    line-height: 1.5;
    overflow: hidden;
    padding: 2px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ad_right_text a:link, .ad_right_text a:active, .ad_right_text a:visited {
    color: #555;
    text-decoration: none;
}
.ad_right_text a:hover {
    color: #e33e06;
    text-decoration: underline;
}
.ad_right_text a {
    padding-right: 5px;
}
.widget_right_group {
    margin-bottom: 20px;
    margin-top: -10px;
    width: 300px;
}
.widget_right_group img {
    padding-right: 22px;
}
.widget_right_group h2 {
    color: gray;
}
.footer_bg {
    background-image: url("http://static.cnblogs.com/images/relative.gif");
}
.flt {
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 8px;
}
.fct {
    border-top: 1px solid #c9e1f4;
    font-size: 0;
    line-height: 0;
}
.frt {
    background-position: 0 -10px;
    background-repeat: no-repeat;
    height: 8px;
}
.flb {
    background-position: 0 -20px;
    background-repeat: no-repeat;
    height: 8px;
}
.frb {
    background-position: 0 -30px;
    background-repeat: no-repeat;
    height: 8px;
}
.fcb {
    border-bottom: 1px solid #c9e1f4;
    height: 8px;
    line-height: 8px;
}
.footer_block {
    background-color: #fff;
    margin: 18px 7px 10px 10px;
    padding: 0;
}
.ad_link_block {
}
#footer_content {
    margin-left: 5px;
}
#footer_content td {
    line-height: 1.6em;
    padding-bottom: 5px;
    padding-top: 5px;
}
#footer_bottom {
    margin-top: 15px;
    padding-bottom: 20px;
    text-align: center;
}
#footer_bottom a {
    padding-left: 5px;
    padding-right: 5px;
}
#footer_bottom div {
    margin-bottom: 10px;
}
.footer_list {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    color: #404040;
    line-height: 22px;
    overflow: hidden;
    padding: 10px;
    word-wrap: break-word;
}
.footer_list a:link, .footer_list a:active, .footer_list a:visited {
    color: #404040;
    text-decoration: none;
}
#friend_link {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    color: #404040;
    line-height: 22px;
    overflow: hidden;
    padding: 10px;
    word-wrap: break-word;
}
#friend_link a {
    margin-right: 8px;
}
#friend_link a:link, #friend_link a:active, #friend_link a:visited {
    color: #404040;
    text-decoration: none;
}
#friend_link a:hover {
    color: #e33e06;
    text-decoration: underline;
}
#friend_link #logo_list {
    padding: 10px 0 0 55px;
}
#friend_link img {
    vertical-align: middle;
}
#common_link_block {
    background-color: #eeeff4;
    line-height: 2em;
    margin-top: 20px;
    padding: 5px 10px;
}
.left_link {
    float: left;
    width: 80px;
}
.right_link {
    float: right;
    width: 80px;
}
.block_show {
    display: block;
}
.block_hidden {
    display: none;
}
#order_link {
    background-color: #fff;
    border: 1px solid #fff;
    line-height: 1.5em;
    position: absolute;
    right: 55px;
    text-align: left;
    top: 3px;
    width: 70px;
}
#order_link_wrapper {
    margin: 5px;
}

.buryit {
    background: rgba(0, 0, 0, 0) url("http://static.cnblogs.com/images/downdown.gif") no-repeat scroll 0 0;
    cursor: pointer;
    display: none;
    float: left;
    height: 52px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 2px;
    text-align: center;
    width: 46px;
}
.burynum {
    color: #075db3;
    font-family: Verdana;
    font-size: 14px;
    line-height: 2.2em;
}

.hslice {
    display: none;
}
.pager {
    color: #2e6ab1;
    font-size: 12px;
    line-height: 200%;
    margin: 25px 0;
    overflow: hidden;
    text-align: center;
}
.pager a {
    border: 1px solid #9aafe5;
    color: #2e6ab1;
    margin: 0 2px;
    padding: 2px 5px;
    text-decoration: none;
}
.pager span.current {
    background-color: #2e6ab1;
    border: 1px solid navy;
    color: #fff;
    font-weight: bold;
    margin: 0 2px;
    padding: 2px 5px;
}
.pager a.current {
    background-color: #2e6ab1;
    border: 1px solid navy;
    color: #fff;
    font-weight: bold;
    margin: 0 2px;
    padding: 2px 5px;
}
#pager_top .pager {
    margin: 15px 0;
}
.pfs {
    border: 1px solid #ccc;
    float: left;
    height: 48px;
    margin-right: 5px;
    margin-top: 3px;
    padding: 1px;
    width: 48px;
}
.news_topic {
    float: right;
    margin: 3px 10px 5px 5px;
}
#login_area a.hot:visited, #login_area a.hot:active, #login_area a.hot:link {
    color: red;
}
#login_area a.hot:hover {
    color: red;
    text-decoration: underline;
}
a.hot:visited, a.hot:active, a.hot:link {
    color: red;
}
a.hot:hover {
    color: red;
    text-decoration: underline;
}
a.blue:visited, a.blue:active, a.blue:link {
    color: blue;
}
a.blue:hover {
    color: blue;
    text-decoration: underline;
}
.blogger_more {
    padding-left: 10px;
}
#search_block {
    margin-top: 10px;
}
#google_search {
    font-size: 14px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.google_seacrh_input {
    height: 20px;
    margin-left: 10px;
    margin-right: 3px;
    vertical-align: middle;
    width: 180px;
}
.google_search_btn {
    color: #666;
    font-size: 13px;
    height: 26px;
    vertical-align: middle;
    width: 80px;
}
#blogger_search {
    margin-top: 10px;
}
.input_blogger_search {
    border: 1px solid #7e9db9;
    height: 20px;
    margin-left: 10px;
    margin-right: 8px;
    padding: 2px;
    vertical-align: middle;
    width: 180px;
}
.side_search {
    font-size: 14px;
    margin-bottom: 10px;
}
.search_input {
    border: 1px solid #7e9db9;
    height: 20px;
    margin-left: 10px;
    margin-right: 8px;
    padding: 2px;
    vertical-align: middle;
    width: 180px;
}
.search_btn {
    color: #666;
    font-size: 13px;
    height: 26px;
    vertical-align: middle;
    width: 80px;
}
.job_com {
}
.hide {
    display: none;
}
.group_list {
    margin-left: 5px;
    width: 300px;
}
.widget_right_group h2 {
    padding-top: 0;
}
.group_list li {
    float: left;
    padding-bottom: 5px;
    padding-right: 5px;
}
.banner_right_text {
    width: 335px;
}
.banner_right_text li {
    padding-right: 10px;
}
.hot_blogger li {
    padding-left: 5px;
}
#footer {
    margin-left: 180px;
    margin-right: 320px;
}
ul.com_list {
    margin-top: 10px;
    width: 280px;
}
ul.com_list li {
    display: inline;
    padding-right: 10px;
}
ul.com_list a {
    display: inline;
    height: 40px;
}
#banner_new_year {
}
a.x_gray:visited, a.x_gray:active, a.x_gray:link {
    color: gray;
    text-decoration: none;
    vertical-align: top;
}
#headline_block ul li {
    overflow: hidden;
}
.headline {
    border: 0 none;
}
#cate_title_block {
}
a.refresh:link, a.refresh:active, a.refresh:visited {
    color: #777;
    text-decoration: none;
}
a.refresh:hover {
    color: red;
    text-decoration: underline;
}
#tips_block {
    margin-bottom: 300px;
    margin-left: 20px;
    margin-top: 10px;
}
.news_body {
    margin-left: 10px;
}
.news_foot {
    margin-left: 0;
}
.nav_middle_right {
    display: none;
    text-align: right;
}
.editor_pick {
    color: #105cb6;
    font-size: 14px;
    font-weight: bold;
    margin-left: -6px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.editor_pick_count {
    font-weight: normal;
}
#editor_pick_count {
    font-weight: normal;
}
li.editor_pick a:link, li.editor_pick a:active, li.editor_pick a:visited {
    color: #105cb6;
}
li.editor_pick a:hover {
    color: #e33e06;
}
ul.webslice li {
    line-height: 2em;
}
#msg_count, .new_msg {
    color: red;
}
#rss_block a {
    padding-left: 5px;
}
.headline-body {
    margin-left: 5px;
}
.headline-body span {
    color: #666;
    margin: 0 10px;
}
.headline-body a {
    font-weight: normal !important;
}
#subtab {
    margin-left: 5px;
}
#subtab a {
    padding-right: 10px;
}
.side_comment_info {
    border-bottom: 1px dotted #ddd;
    color: #a0a0a0;
    margin-top: 5px;
    padding-bottom: 10px;
    text-align: right;
}
.w_r ul .side_comment_info a:link, .w_r ul .side_comment_info a:active, .w_r ul .side_comment_info a:visited {
    color: #075db3;
    text-decoration: none;
}
.w_r ul .side_comment_info a:hover {
    color: #f60;
    text-decoration: underline;
}
.side_comment {
    color: #333;
    margin-left: 0;
    padding-top: 3px;
}
.side_comment_info .comment_quote {
    border: 1px solid #ddd;
    padding: 5px;
}
.w_r ul .side_comment_info a {
    display: inline;
}
#news_comments ul li {
    white-space: normal;
}
.festival-logo {
    left: 150px;
    position: absolute;
    top: 5px;
    z-index: 99;
}
*/