
.copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555555;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #303030;
}

.copyright span {
    margin: 0 .5em;
}

.copyright a {
    color: #555555;
}

body {
    padding-top: 10px;
}

.carousel {
    height: 500px;
}

.carousel .item {
    height: 500px;
}

/*默认样式，主要是position:fixed实现屏幕绝对定位*/
#gotoTop {
    display: none;
    position: fixed;
    top: 75%;
    left: 50%;
    cursor: pointer;
    margin-top: -50px;
    margin-left: 520px;
    padding: 9px 4px;
    width: 20px;
    text-align: center;
    border: 1px solid #e0e0e0;
    background: #fff;
}

/*用CSS表达式(expression)来实现ie6下position:fixed效果*/
#gotoTop {
    _position: absolute;
    _top: expression(documentElement.scrollTop + documentElement.clientHeight * 3/4 + "px")
}

/*鼠标进入的反馈效果*/
#gotoTop.hover {
    background: #5CB542;
    color: #fff;
    text-decoration: none;
}

body {
    padding-top: 10px;
}

#blogs {
    background-image: url("/static/img/blogs/body_bg.jpg");
    background-repeat: repeat-x;
    background-color:#000;
}

.content {
    background-color: white;
}
.blogs-header{
    color: white;
}
.post_item {
    border-bottom: 1px dotted #ccc;
    border-width: 1px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
/*分页样式*/
.s8-pagination {
  position: absolute;
  top: 10px;
  right: 0;
}

.s8-pagination a.active,
.s8-pagination a .s8-page-go span {
  background: #0088cc;
  color: #fff;
}
.s8-pagination a.s8-pre-page,
.s8-pagination a.s8-next-page {
  background: none;
  border: none;
  color: #111;
}
.s8-pagination a .s8-page {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  border: 1px solid #d9d9d9;
  background: #fff;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 80%;
/*margin: 0 auto -4em;*/
}
/*控制菜单箭头*/
.nav-header.collapsed > span.glyphicon-chevron-toggle:before {
    content: "\e114";
}

.nav-header > span.glyphicon-chevron-toggle:before {
    content: "\e113";
}
.secondmenu a {
    font-size: 12px;
    color: #4A515B;
    text-align: center;
}

.secondmenu li.active {
    background-color: #eee;
    border-color: #428bca;
}