{% extends 'common/iframe.html' %}
{% block iframe %}
    {% set baseurl = '/recource' %}
    <form action="{{ baseurl }}/update" method="post">
        <input type="hidden" name="id" value="{{ resource.id }}"/>
        <label>父目录</label>
        <select name="parentId">
        <option value=""> ---root---</option>
        {% for entity in resourcelist %}
        <option {% if entity.id==resource.parentId %} selected {% endif %}  value="{{ entity.id }}">{{ entity.name }}</option>
        {% endfor %}
    </select>
        <label>名称</label>
        <input name="name" value="{{ resource.name }}" />
     <label>url</label>
        <input name="url" value="{{ resource.url }}" />
     <label>图标</label>
        <input name="imgClass" value="{{ resource.imgClass }}"/>
    <label>描述</label>
    <textarea name="describe" >{{ resource.describe }}</textarea>
    <button type="submit" class="btn-success">提交</button>
    <button type="reset" class="btn btn-default">重置</button>
    <a class="btn btn-primary" href="{{ baseurl }}">返回</a>
    </form>
{% endblock %}