{% extends 'blogs/index.html' %}
{% block blogsindex %}
    <!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
    <div class="container-fluid content">
        <div class="btn-group">
            <a class="btn" href="blogs/add">写博客</a>
        </div>
        <h4 class="text-center ">
            <strong>{{ blogs.title }}</strong>
        </h4>

        <p>
            {{ blogs.content|safe }}
        </p>

    </div>
{% endblock %}
