<div >
    <div class="side">
        <div id="panel_Profile" class="panel">
            <ul class="panel_head"><span>个人资料</span></ul>
            <ul class="panel_body profile">
                <div id="blog_userface">
                    <a href="http://my.csdn.net/oonets334" target="_blank">
                        <img src="http://avatar.csdn.net/9/9/A/1_oonets334.jpg" style="max-width:90%"/>
                    </a>
                    <br/>
                    <span><a href="http://my.csdn.net/oonets334" class="user_name" target="_blank">{{ g.user.account }}</a></span>
                </div>
                <div class="interact">
                </div>
                <div id="blog_medal">
                    <div id="bms_box">
                    </div>
                </div>
                <ul id="blog_rank">
            <div id="smallTittle"
                 style=" position: absolute;  left: -24px;  top: 25px;  text-align: center;  width: 101px;  height: 32px;  background-color: #fff;  line-height: 32px;  border: 2px #DDDDDD solid;  box-shadow: 0px 2px 2px rgba (0,0,0,0.1);  display: none;   z-index: 999;">
                <div style="left: 42%;  top: -8px;  position: absolute;  width: 0;  height: 0;  border-left: 10px solid transparent;  border-right: 10px solid transparent;  border-bottom: 8px solid #EAEAEA;"></div>
            </div>
        </span></li>
                </ul>
                <ul id="blog_statistics">
                </ul>
            </ul>
            <ul>
                <img  style="CURSOR: pointer" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=1107665984&o=www.baidu.com&q=7', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"  border="0" SRC=http://wpa.qq.com/pa?p=1:1107665984:1 alt="有事点这里">
            </ul>
        </div>
        <script type="text/javascript">
            $(function () {
                $("#btnSubmit").click(function () {
                    search();
                });

                $("#frmSearch").submit(function () {
                    search();
                    return false;
                });

                function search() {
                    var url = "http://so.csdn.net/so/search/s.do?q=" + encodeURIComponent($("#inputSearch").val()) + "&u=" + username + "&t=blog";
                    window.location.href = url;
                }
            });
        </script>
        <div id="panel_Category" class="panel">
            <ul class="panel_head"><span>文章分类</span></ul>
            <ul class="panel_body">
                {% for articletype in articletypecount %}
                <li>
                    <a href="">{{ articletype[0] }}</a><span>({{ articletype[1] }})</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>