{% extends 'blogs/index.html' %}
{% block blogsindex %}
    {% set pageurl='/blogs'  %}
    {% set endpoint = 'index' %}
    <div class="container-fluid blogs-list-body" xmlns="http://www.w3.org/1999/html">
        <div class="btn-group">
            <a class="btn" href="/blogs/add">写博客</a>
        </div>
        {% for blogs in blogss %}

            <div class="post_item">
                <div class="digg">
                    <div class="diggit" onclick="praise('{{blogs.id }}')">
                        <span class="diggnum"  id="{{ blogs.id }}">{{ blogs.praise }}</span>
                    </div>
                    <div class="clear"></div>
                    <div id="digg_tip_4999897" class="digg_tip"></div>
                </div>
                <div class="post_item_body">
                    <h3><a class="titlelnk" href="/blogs/content?id={{ blogs.id }}"
                           target=" _blank">{{ blogs.title }}</a></h3>
                    <p class="post_item_summary">
                        {{ blogs.synopsis }}
                    </p>
                    <div class="post_item_foot">
                        <a href="http://www.cnblogs.com/index-html/" class="lightblue">{{ (blogs.user_id|getUserNamebyId).account }}</a>
                        <span >
                            发布于 {{ blogs.create_date|strftime('%Y 年 %m 月 %d 日') }}阅读({{ blogs.views }})评论(22)
                        </span>
                        <span class="lightblue">
                             {% if g.user.id==blogs.user_id %}
                            <a href="/blogs/update?id={{blogs.id}}" title="" class="lightblue">
                                    修改
                            </a>
                        </span>
                        <span class="lightblue">
                             <a href="/blogs/delete?id={{ blogs.id }}" title="" class="lightblue">
                                     删除
                             </a>
                             {% endif %}
                         </span>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        {% endfor %}
    </div>
    {% include 'common/rollpage.html' %}
{% endblock %}
