{% extends 'common/layout.html' %}
{% block content %}
    <script type="text/Javascript" src="/static/plupload/plupload.full.min.js"></script>
    <script type="text/Javascript" src="/static/plupload/i18n/zh_CN.js"></script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="/static/UEditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/static/UEditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
       function send(){
             var con = editor.getContent();
            $('#content').val(con);
            $('form').submit();
        }
    </script>
<div class="container-fluid ">
    <div class="row-fluid">
        <div class="span2">
        </div>
        <div class="span9">
            <form action="update" id="form" method="POST">
                <input type="hidden" value="{{ blogs.id }}" name="id">
                <fieldset>
                    <legend>写博客</legend>
                    <span>标题：</span>
                    <input name="title" class="form-control" value="{{ blogs.title }}" type="text" />
                    <br/>
                    <span>简介：</span>
                    <textarea name="synopsis" class="form-control">{{ blogs.synopsis }}</textarea>
                    <label><span>分类：</span>
                        <select name="classify">
                            <optgroup label="">
                                {% for article in articlelist %}
                                <option {% if article.id==blogs.classify  %} selected {%  endif %} value="{{ article.id }}">{{ article.name }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </label>
                    <label><span>内容：</span></label>
                    <script id="container" name="content" type="text/plain"></script>
                    <textarea id="content" name="content" style="width:800px;height:500px;">{{ blogs.content }}</textarea>
                    <script type="text/javascript">
                    var editor = new UE.ui.Editor();
                    editor.render("content");
                    </script>
                    <!-- 加载编辑器的容器 -->
                    <label><span>状态：</span>
                        <select name="state">
                            <optgroup label="">
                                <option value="0">草稿</option>
                                <option value="1">发布</option>
                            </optgroup>
                        </select>
                    </label>
                </fieldset>
            </form>
                    <button id="browse">选择文件</button>
                    <button id="start_upload">开始上传</button><span id="console" typeof=""></span>
                    <div id="upfilelist">
                        <div id="filelist" style="margin-bottom: 50px;">
                                 {% for file in filelist %}
                                        <li id="{{ file.id }}">
                                            <a href="#">{{ file.real_name }}</a>
                                            <input type="button" style="margin-left:50px;" onclick="delFile('{{ file.id }}','xx')" value="删除" />
                                        </li>
                                 {% endfor %}
                        </div>
                        <a class="btn btn-success" onclick="send()">提交</a>
                        <a href="/blogs" class="btn btn-primary">返回</a>
                    </div>
        </div>
    </div>
</div>

<script>
    var url = "/resource/upload?id=" + '{{ blogs.id }}';
    var uploader = new plupload.Uploader({
    browse_button: 'browse',
    url: url,
    file_data_name: 'file',
    unique_names: false,
    flash_swf_url: 'js/plupload/Moxie.swf',
    silverlight_xap_url: 'js/plupload/Moxie.xap',
    filters: {
        max_file_size: '20mb',
        mime_types: [{
            title: "all files",
            extensions: "*"
        }, {
            title: "text",
            extensions: "doc,pdf,xls,xlsx,docx,wpt,txt,ppt"
        }, {
            title: "picture",
            extensions: "bmp,gif,jpg,pic,png,tif"
        }, {
            title: "Zip",
            extensions: "zip,rar"
        }, {
            title: "voice",
            extensions: "c,asm,for,lib,lst,msg,obj,pas,wki,bas"
        }]
    },
    multipart_params: {
        'key': 'aaa',
        'filename': 'aaa'
    },
    init: {
        PostInit: function() {
            //document.getElementById('filelist').innerHTML = '';
            //  document.getElementById('uploadfiles').onclick = function() {
            //      uploader.start();
            return false;
            //  };
        },

        FilesAdded: function(up, files) {
            plupload.each(files, function(file) {
                document.getElementById('filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ')<b></b></div>';
            });
        },
        UploadProgress: function(up, file) {
            document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
        },
        Error: function(up, err) {
            document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;
        },
        FileUploaded: function(uploader, file, responseObject) {
            //document.getElementById(file.id).getElementsByTagName('span')[0].innerHTML = '<input type="button" style="margin-left:50px;" onclick=delFile(' + responseObject.response + ',"' + file.id + '' + '") value="删除" /><span  style="margin-left:50px;" >加密文件</span><input id="xxx' + file.id + '" onclick=isCipheR(' + responseObject.response + ',"xxx' + file.id + '' + '")  type="checkbox"  />';
            //$("#xxx"+file.id).attr("onchange","isCipheR("+responseObject.response+")");//onchange='isCipheR("$!entity.serialno")'
        }
    }
});
uploader.init();
uploader.bind('FilesAdded', function(uploader, files) {});
uploader.bind('UploadProgress', function(uploader, file) {});
document.getElementById('start_upload').onclick = function() {
    uploader.start();
}
</script>
{% endblock %}