<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/jquery/jquery-2.0.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/common/common.css"/>
    {#    <link rel="stylesheet" type="text/css" href="/static/common/rollpage.css"/>#}
    <link rel="stylesheet" type="text/css" href="/static/common/blogs.css"/>
    <link rel="stylesheet" type="text/css" href="/static/common/directory.css"/>
     <link href="/static/bootcss/bootstrap-combined.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/static/bootcss/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bootcss/bootstrap-treeview.js"></script>
    <script type="text/javascript" src="/static/common/js/blogs.js"></script>
    <script type="text/javascript" src="/static/common/toTop.js"></script>
     <link href="/static/bootcss/bootstrap-treeview.css" rel="stylesheet" media="screen">
    <!--tree-->
    <script type="text/javascript" src="/static/jquery/tree/jquery.treetable.js"></script>
    <link href="/static/jquery/tree/jquery.treetable.css" rel="stylesheet" media="screen">
    <link href="/static/jquery/tree/jquery.treetable.theme.default.css" rel="stylesheet" media="screen">
</head>
<body>
{% if get_flashed_messages()[0] %}
    <div class="alert  12">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong></strong>{{ get_flashed_messages()[0] }}
    </div>
{% endif %}
    {% block iframe %}
    {% endblock %}
</body>
</html>