<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/jquery/jquery-2.0.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/common/common.css"/>
    {#    <link rel="stylesheet" type="text/css" href="/static/common/rollpage.css"/>#}
    <link rel="stylesheet" type="text/css" href="/static/common/blogs.css"/>
    <link rel="stylesheet" type="text/css" href="/static/common/directory.css"/>
    <link href="/static/bootcss/bootstrap-combined.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/static/bootcss/bootstrap.min.js"></script>
      <script type="text/javascript" src="/static/common/js/blogs.js"></script>
    <script type="text/javascript" src="/static/common/toTop.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-inner  "><!--navbar-static-top-->
                    <div class="container-fluid">
                        <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span
                                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                        <a class="brand">
                            {{ sysname }}
                        </a>

                        <div class="nav-collapse collapse navbar-responsive-collapse">
                            <ul class="nav">
                                <li><!-- class="active"-->
                                    <a href="/">主页</a>
                                </li>
                                <li>
                                    <a href="/merchant">商家</a>
                                </li>
                                <li>
                                    <a href="/goods">商品</a>
                                </li>
                                <li>
                                    <a href="/blogs">博客</a>
                                </li>
                                <li>
                                    <a href="/online">在线视频</a>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">更多<strong
                                            class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">下拉导航1</a>
                                        </li>
                                        <li>
                                            <a href="#">下拉导航2</a>
                                        </li>
                                        <li>
                                            <a href="#">其他</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li class="nav-header">
                                            标签
                                        </li>
                                        <li>
                                            <a href="#">链接1</a>
                                        </li>
                                        <li>
                                            <a href="#">链接2</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav pull-right">
                                <li class="divider-vertical">
                                    {% if g.user %}
                                    <a href="#">欢迎 {{ g.user.username }}</a>
                                    {% else %}
                                        {% include 'user/nav-login.html' %}
                                    {% endif %}
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">个人中心<strong
                                            class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">下拉导航1</a>
                                        </li>
                                        <li>
                                            <a href="#">下拉导航2</a>
                                        </li>
                                        <li>
                                            <a href="#">其他</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="logout">退出</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if get_flashed_messages()[0] %}
    <div class="alert  12">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong></strong>{{ get_flashed_messages()[0] }}
    </div>
{% endif %}
{% block content %}
{% endblock %}
<div class="copyright ">
    <div class="container">
        <div class="row">
            <div class="col-sm-16">
                <span>Copyright &copy; <a href="http://www.ghostchina.com/">straw</a></span> |
                <span><a href="http://www.miibeian.gov.cn/" target="_blank">0000000</a></span> |
                <span>联系QQ：1107665984</span>
            </div>
        </div>
    </div>
</div>
<span id='page'></span>
</body>
</html>