<div class="pagination pagination-centered">
    <ul>
        <li>
            {% if pagination.has_prev %}
                <a href="{{ pageurl }}/{{ pagination.prev_num }}">«</a>
            {% endif %}
        </li>
    </ul>
    {% for page in pagination.iter_pages() %}
        {% if page %}
            {% if page != pagination.page %}
                <ul>
                    <li>
                        <a href="{{ pageurl }}/{{ page }}">{{ page }}</a>
                    </li>
                </ul>
            {% else %}
                <ul>
                    <li>
                        <a href="#" style="background-color: #005a94"><strong>{{ page }}</strong></a>
                    </li>
                </ul>
            {% endif %}
        {% else %}
            <span class=ellipsis>…</span>
        {% endif %}
    {% endfor %}
 <ul>
        <li>
            {% if pagination.has_next %}
                <a href="{{ pageurl }}/{{ pagination.next_num }}">»</a>
            {% endif %}
        </li>
    </ul>
    <ul>
        <li>
              <a href="#"><span>共{{ pagination.total }}条</span></a>
        </li>
    </ul>
{#    <ul>#}
{#        <li>#}
{#            <a href="{{ pageurl }}/{{ pagination.total }}">末页</a>#}
{#        </li>#}
    </ul>
    <ul>
        <ul>
            <li>
                <a href="#">/ {{ pagination.total }}</a>
            </li>
        </ul>
        <li>
            <input type="text" style="width: 40px;height: 30px;margin-bottom: 20px">
        </li>
    </ul>
    <ul>
        <li>
            <a href="#" class="s8-page-go clearfix" max_page="{{ pagination.page }}"
               current_page="1"><span>Go</span></a>
        </li>
    </ul>
</div>