
#blog_statistics {
    color: #666;
    display: block;
    margin: 10px;
}
#blog_statistics::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#blog_statistics li {
    float: left;
    margin: 4px 0;
    width: 50%;
    list-style-type:none;
}
#blog_statistics li span {
    color: #333;
}
#blog_statistics li a {
}
#blog_rank {
    background: rgba(0, 0, 0, 0) url("../img/blogs/line_1.gif") repeat-x scroll center bottom;
    color: #666;
    display: block;
    line-height: 185%;
    margin: 5px;
    padding: 5px;
}
#blog_rank::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#blog_rank li {
}
#blog_rank li span {
    color: #333;
}
.panel_body li{
    list-style-type:none
}
.interact {
    padding: 0 0 15px;
    text-align: center;
}
.interact .attent, .interact .attented, .interact .letter {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    overflow: hidden;
    width: 59px;
}
.interact .attent {
    background: rgba(0, 0, 0, 0) url("../img/blogs/btn_attent.gif") no-repeat scroll 0 0;
}

.interact .letter {
    background: rgba(0, 0, 0, 0) url("../img/blogs/btn_sendletter.gif") no-repeat scroll 0 0;
    margin: 0 10px 0 0;
}

#blog_userface {
    margin: 0 0 5px;
    padding: 10px;
    text-align: center;
}
#blog_userface img {
    border: 1px solid #ddd;
    max-width: 160px;
    padding: 2px;
}
#blog_userface span {
    display: block;
    font-weight: bold;
    text-align: center;
}
.panel_head {
    background: rgba(0, 0, 0, 0) url("/static/img/blogs/tit_bg.jpg") repeat-x scroll center top;
    clear: both;
    color: #333;
    font: bold 12px/30px Arial;
    height: 30px;
    padding: 0 5px;
    text-indent: 5px;
}
.side .panel_body {
    padding: 4px 10px;
}
.panel_body li span {
    padding-left: 6px;
    position: relative;
}
.side ul{
    padding-left: 0px;
    margin: 0;
}
#panel_report {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 8px 20px;
    width: 440px;
}
#panel_report .pop_table {
    line-height: 20px;
    margin: 10px 0 0 12px;
}
#panel_report th, #panel_report td {
    padding: 4px 0;
    vertical-align: top;
}
#panel_report th {
    font-weight: normal;
    text-align: right;
}
#panel_report h3 {
    line-height: 60px;
}
.panel_body li span {
    padding-left: 6px;
    position: relative;
}
.side .panel_body {
    padding: 4px 10px;
}
.panel_body li {
    color: #666;
    margin: 8px 0;
}
.panel_body li span {
}
.panel_body li a {
}
#panel_Search .panel_body::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#panel_Search .panel_body span {
    float: left;
}
#panel_Search .form_search {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    display: block;
    height: 24px;
    margin: 10px 0;
    overflow: hidden;
    padding: 0 3px;
}
#panel_Search .panel_body .blogsearch {
    border: medium none;
    color: #666666;
    height: 20px;
    margin: 2px 5px 0 0;
    width: 140px;
}
#panel_Profile {
}
#panel_Profile span {
    color: #333;
}
#side #profile {
    margin-top: 0;
}
#baidu_clb_slot_117306 {
    margin-bottom: 10px;
}
#side #blog_userface a {
    color: #333;
}
/**
body, form, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
.side li {
    list-style: outside none none;
}
.side ul {
    margin: 0;
    padding: 0;
}
img {
    border: medium none;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.share_buttons {
    float: right;
    font: 12px/24px Arial,Helvetica,sans-serif;
    margin: 5px 0;
    text-align: right;
    width: 170px;
}
.share_buttons span {
    color: green;
    display: inline-block;
    font-weight: bold;
    line-height: 30px;
    vertical-align: middle;
}
.share_buttons a {
    background-position: 0 5px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    width: 25px;
}
.share_douban {
    background-image: url("../images/ico_douban.gif");
}
.share_renren {
    background-image: url("../images/ico_renren.gif");
}
.share_sina {
    background: rgba(0, 0, 0, 0) url("../images/ico_sina.gif") no-repeat scroll center center;
}
.share_qq {
    background: rgba(0, 0, 0, 0) url("../images/ico_qq.gif") no-repeat scroll center center;
}
.article_description {
    text-indent: 2em;
}
.list_opended {
    background-image: url("../images/dir_arr.gif");
    background-position: 0 7px;
    background-repeat: no-repeat;
}
.list_opended:hover {
    background-position: 0 -15px;
    background-repeat: no-repeat;
}
.list_closed {
    background-image: url("../images/dir_arr.gif");
    background-position: 0 -45px;
    background-repeat: no-repeat;
}
.list_closed:hover {
    background-position: 0 -69px;
    background-repeat: no-repeat;
}
.comment_item {
    font: 12px/26px Arial,Helvetica,sans-serif;
    margin: 2px 10px;
}
.comment_item fieldset {
    border: 1px solid;
    font: 12px/26px Arial,Helvetica,sans-serif;
}
.comment_reply {
    margin-left: 50px;
}
.comment_list {
    clear: both;
}
.comment_list dl {
    clear: both;
    display: block;
    overflow: hidden;
}
.comment_item .user {
}
.comment_item_reply {
    margin-left: 50px;
}
.comment_userface {
    float: left;
    margin: 4px;
}
.comment_userface img {
    height: 40px;
    width: 40px;
}
.comment_body {
    line-height: 20px;
    margin-left: 50px;
    min-height: 35px;
    padding: 5px;
}
.commentform {
}
.commentform ul {
    clear: both;
    font: 12px/24px Arial,Helvetica,sans-serif;
    margin: 0 20px 5px;
}
.commentform .left {
    display: block;
    float: left;
    width: 80px;
}
.commentform .right {
    display: block;
    margin-left: 90px;
}
.commentform textarea {
    border: 1px solid #ddd;
    color: #555;
    font: 14px/24px Arial,Helvetica,sans-serif;
    padding: 5px;
}
.guest_link {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    font-size: 12px;
    margin: 10px;
    padding: 10px;
}
#lang_list {
    background-color: #ffffff;
    border: 1px solid #ccc;
    font-size: 12px;
}
#lang_list a {
    border-right: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 0 5px;
    text-align: center;
}
#lang_list a:hover {
    background-color: #666;
    color: #fff;
}
a.cmt_btn {
    background-position: left top;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    margin-bottom: -5px;
    overflow: hidden;
    padding: 1px;
    text-indent: -2000px;
    width: 16px;
}
a.cmt_btn:hover {
    border: 1px solid #ccc;
    padding: 0;
}
a.reply {
    background-image: url("../images/ico_reply.png");
}
a.quote {
    background-image: url("../images/ico_quote.png");
}
a.report {
    background-image: url("../images/ico_report.png");
}
a.delete {
    background-image: url("../images/ico_del.png");
}
#report_dialog {
    left: 30%;
    position: absolute;
    right: 33%;
    top: 33%;
    z-index: 99;
}

#report_other_content {
    border: 1px solid #999;
    height: 16px;
    padding: 0;
}
#btnSubmitReport {
    border: 0 none;
}
#bms_box {
    border-top: 1px dashed #ccc;
    display: block;
    margin-top: 4px;
    padding: 14px 4px 4px 0;
    text-align: left;
}
#bms_box img {
    cursor: pointer;
    margin-left: 6px;
}
.medal_intro {
    background-color: #fff;
    border: 2px solid #dddddd;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    display: block;
    font-family: "微软雅黑";
    left: -55px;
    min-height: 100px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 33px;
    vertical-align: top;
    width: 252px;
    z-index: 100;
}
.medal_intro::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.medal_intro dl {
    margin: 0;
}
.medal_intro dt {
    float: left;
    margin-right: 18px;
}
.medal_intro dd {
    color: #666666;
    float: left;
    line-height: 18px;
    margin: 0;
    text-align: left;
    width: 180px;
}
.medal_intro dd strong {
    color: #004279;
    display: block;
    font-size: 18px;
    padding-bottom: 10px;
}
#sp_column img {
    border: 1px solid #ccc;
}
#sp_column p {
    margin: 0;
    padding: 6px 0;
}

.itemlist li a {
    display: inline-block;
    height: 15px;
    overflow: hidden;
    white-space: nowrap;
    width: 130px;
}
.itemlist li span {
    display: inline-block;
    float: right;
    height: 14px;
}
#newcomments .itemlist li a {
    width: 98%;
}
#newcomments .itemlist li a.user_name {
    display: inline;
    width: auto;
}

#d-top {
    bottom: 10px;
    float: right;
    position: fixed;
    right: 10px;
    z-index: 10;
}
#d-top img {
    opacity: 0.3;
    width: 42px;
}
#d-top a:hover img {
    opacity: 1;
}
.article_next_prev {
    margin-top: 30px;
}
.tag2box {
    margin: 10px 0;
}
.tag2box a {
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 10px;
    display: inline-block;
    line-height: 100%;
    margin-right: 10px;
    padding: 4px 10px;
}

@import "../../../css/common.css";
body {
    background: rgba(0, 0, 0, 0) url("../images/body_bg.jpg") repeat scroll center top;
    font-family: Arial,Console,Verdana,Courier New;
    font-size: 12px;
}
p {
    margin: 0;
    padding: 0;
}
a {
    color: #ca0000;
    text-decoration: none;
}
a:hover {
    color: #200;
    text-decoration: none;
}
.csdn-toolbar .container {
    margin: 0 auto;
    max-width: 1200px;
    width: 96%;
}
#header {
    height: 36px;
    margin: 0 auto;
    padding: 35px 0 0;
    text-align: left;
    width: 980px;
}
#blog_title h2 {
    color: #000;
    font: bold 32px/32px "Microsoft YaHei";
    margin: 0 25px 0 0;
}
#blog_title h3 {
    color: #ffa200;
    font: 15px/30px "Microsoft YaHei";
    padding: 2px 0 0;
}
#blog_title a {
    color: #fff;
}
#blog_title a:hover {
    color: #def;
    text-decoration: none;
}
#navigator {
    clear: both;
    display: block;
    height: 42px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 100px 0 0;
    text-align: left;
    width: 96%;
}
.navigator {
    text-align: right;
}
.navigator::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.navigator ul {
    float: right;
}
.navigator li {
    display: inline;
    float: left;
    margin: 0 5px;
}
.navigator li a {
    background: rgba(0, 0, 0, 0) url("../../../images/btn_pub_nav.gif") no-repeat scroll left 0;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font: 12px/26px Arial,Helvetica,sans-serif;
    height: 26px;
    padding: 0 0 0 10px;
    text-decoration: none;
}
.navigator li a span {
    background: rgba(0, 0, 0, 0) url("../../../images/btn_pub_nav.gif") no-repeat scroll right -26px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 5px 10px 5px 0;
}
.navigator li a span img {
    margin: 0 4px 0 0;
    vertical-align: middle;
}
#body {
    display: block;
    margin: 10px auto;
    max-width: 1200px;
    text-align: left;
    width: 96%;
}
#body::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.panel_head {
    background: rgba(0, 0, 0, 0) url("../images/tit_bg.jpg") repeat-x scroll center top;
    clear: both;
    color: #333;
    font: bold 12px/30px Arial;
    height: 30px;
    padding: 0 5px;
    text-indent: 5px;
}
.panel {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #000;
    margin: 0 0 10px;
    padding: 1px;
}

#main {
    float: right;
    margin-left: -210px;
    overflow: hidden;
    width: 100%;
}
#main .main {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #000;
    margin-left: 210px;
    min-width: 700px;
    padding: 1px;
}
#notice {
    margin: 5px 10px;
}
.notice {
    background: #fffce7 url("../../../images/ico_notice.png") no-repeat scroll 5px center;
    border: 1px dashed #f8cc7e;
    font: 12px/22px Arial;
    margin: 10px;
    padding: 2px 4px 2px 20px;
}
.notice a {
    color: #ff5a00;
}
.list_item {
    background: rgba(0, 0, 0, 0) url("../images/line_1.gif") repeat-x scroll center bottom;
    clear: both;
    display: block;
}
.list_item::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.list {
    margin: 20px 20px 0;
}
.article_title {
    color: #000;
    display: block;
    font: 20px/30px "Microsoft YaHei";
    margin: 5px 0;
}
.article_title::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.article_title a {
    color: #000;
}
.article_title a:hover {
    color: #666;
}
.article_title .ico {
    display: inline-block;
    height: 19px;
    margin: 0 2px 0 0;
    width: 19px;
}
.article_title .ico_type_Original {
    background: rgba(0, 0, 0, 0) url("../../../images/ico_Original.gif") no-repeat scroll 0 0;
    vertical-align: middle;
}
.article_title .ico_type_Repost {
    background: rgba(0, 0, 0, 0) url("../../../images/ico_Repost.gif") no-repeat scroll 0 0;
    vertical-align: middle;
}
.article_title .ico_type_Translated {
    background: rgba(0, 0, 0, 0) url("../../../images/ico_Translated.gif") no-repeat scroll 0 0;
    vertical-align: middle;
}
.article_title h1 {
    display: inline;
    font: 20px/30px "Microsoft YaHei";
    vertical-align: middle;
}
.article_description {
    color: #666;
    font: 14px/24px Arial;
}
.article_manage {
    color: #999;
    font: 12px/24px Arial;
    padding: 5px 0;
    text-align: right;
}
.article_manage span {
    margin: 0 5px;
}
.article_manage .link_postdate {
    margin: 0 5px 0 0;
}
.article_manage .link_view {
    background: rgba(0, 0, 0, 0) url("../../../images/ico_view.png") no-repeat scroll left center;
    padding: 0 0 0 14px;
}
.article_manage .link_comments {
    background: rgba(0, 0, 0, 0) url("../../../images/ico_comm.png") no-repeat scroll left center;
    padding: 0 0 0 14px;
}
.article_manage .link_categories {
    float: left;
}
.list_view {
    margin: 0 20px;
    padding: 5px 0;
}
.list_view .article_title {
    display: inline;
    float: left;
    font: 14px/30px Arial !important;
    height: 30px;
    margin: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list_view .article_title::after {
    content: "...";
}
.list_view .article_title h3 {
    font: 12px/30px Arial !important;
}
.list_view .article_title h1 {
    font: 12px/30px Arial !important;
}
.list_view .article_manage {
    display: inline;
    float: right;
    line-height: 30px !important;
    padding: 0 !important;
    text-align: right !important;
    white-space: nowrap;
}
.list_view .article_description {
    display: none !important;
}
.list_view .article_manage span {
    margin: 0 !important;
}
.details {
    margin: 20px;
}
.details .article_content {
    font: 14px/26px Arial;
    margin: 20px 0 0;
}
.article_next_prev {
    clear: both;
    color: #666;
    display: block;
    float: left;
    font: 14px/24px "Microsoft YaHei",Arial,Helvetica,sans-serif;
    margin: 0 0 5px;
    padding: 10px 0 0;
}
.article_next_prev li {
    clear: both;
    list-style-type: none;
    overflow: hidden;
    padding: 0 0 3px;
}
.article_next_prev::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.article_next_prev li span {
    background-color: #999999;
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    height: 26px;
    margin-right: 7px;
    padding: 0 0 0 27px;
    width: 52px;
}
.article_next_prev li:hover span {
    background-color: #c00;
}
.article_next_prev li.prev_article span {
    background-image: url("../images/blog-page-arr.png");
    background-position: 9px 8px;
    background-repeat: no-repeat;
}
.article_next_prev li.next_article span {
    background-image: url("../images/blog-page-arr.png");
    background-position: 9px -22px;
    background-repeat: no-repeat;
}
.article_next_prev li a {
    color: #333333;
    display: block;
    float: left;
    font-size: 14px;
}
.article_next_prev li a:link, .article_next_prev li a:visited, .article_next_prev li a:hover {
    color: #333;
}
.article_next_prev li:hover a, .article_next_prev li:hover a:link, .article_next_prev li:hover a:visited, .article_next_prev li:hover a:hover {
    color: #c00;
}
.commentform ul {
    margin: 0;
}
.commentform li {
    list-style-type: none;
    margin: 0;
}
.ico_expert {
    background: rgba(0, 0, 0, 0) url("../../../images/ico_expert.jpg") no-repeat scroll 0 0;
    height: 60px;
    margin: 0 auto;
    width: 69px;
}
#digg {
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 30px 0 15px;
    text-align: center;
    width: 182px;
}
#digg::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.digg {
    background: #ff7900 none repeat scroll 0 0;
    display: inline-block;
    float: left;
    height: 72px;
    margin: 0 2px;
    overflow: hidden;
    text-align: center;
    width: 72px;
}
.digg dt {
    color: #fff;
    font: 27px/30px "Microsoft YaHei";
    margin: 0;
    padding: 12px 0 3px;
}
.digg dd {
    color: #fff;
    font: 12px/22px Arial;
    margin: 0;
}
.digg_enable {
    background: #ff7900 none repeat scroll 0 0;
    cursor: pointer;
    text-align: center;
}
.digg_disable {
    color: #fff;
}
.digg_disable dd {
    color: #fff;
}
.pagelist {
    clear: both;
    color: #666;
    font: 12px/24px Arial;
    padding: 15px 0;
    text-align: center;
}
.pagelist a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dbe5ee;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font: 12px/22px Arial,Helvetica,sans-serif;
    height: 22px;
    margin: 0 2px;
    padding: 0 8px;
}
.pagelist strong {
    background: #07519a none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    margin: 0 3px;
    padding: 0 8px;
    text-decoration: none;
}
.pagelist a:hover {
    background: #07519a none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    height: 24px;
    line-height: 24px;
    margin: 0 3px;
    text-decoration: none;
}
.pagelist a.select {
    cursor: default;
}
#side {
    float: left;
    line-height: 120%;
    overflow: hidden;
    width: 200px;
}
#side .side {
}
#side a {
    color: #ca0000;
}
#side a:hover {
    color: #200;
}

.ico_expert {
    background: rgba(0, 0, 0, 0) url("../images/ico_expert.png") no-repeat scroll 0 0;
}

#blog_medal {
    text-align: center;
}

#panel_Search {
}
}
#btnSubmit {
    background: transparent url("../images/ico_sear.gif") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    line-height: 999px;
    margin: 5px 0 0;
    overflow: hidden;
    text-indent: -1000px;
    width: 16px;
}
#panel_Category {
}
#newcomments {
}
#load_comments {
    border: 1px solid #ddd;
    cursor: pointer;
    display: block;
    font-family: "微软雅黑";
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    text-align: center;
}
#panel_Archive {
}
#panel_Archive li {
    display: block;
}
#panel_Archive li::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#panel_Archive .list_closed {
    background: rgba(0, 0, 0, 0) url("../../../images/arrow_down.gif") no-repeat scroll left center;
    color: #666;
    cursor: pointer;
    float: right;
    padding: 0 0 0 12px;
}
#panel_Archive .list_opended {
    background: rgba(0, 0, 0, 0) url("../../../images/arrow_up.gif") no-repeat scroll left center;
    color: #666;
    cursor: pointer;
    float: right;
    padding: 0 0 0 12px;
}
#archive_list {
    display: block;
    margin-bottom: 5px;
}
#archive_list::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.comment_item fieldset {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    color: #999;
    padding: 0 10px;
}
.comment_head, .commentform_title {
    background: #e4e4e4 none repeat scroll 0 0;
    clear: both;
    color: #888;
    padding: 1px 4px;
}
.comment_head a, .commentform_title a {
    color: #369;
}
.comment_reply .comment_head {
    background-color: #efefef;
}
.comment_reply {
    background-color: #f7f7f7;
}
.newcomment {
    background-color: #f6f6f6;
    border: 1px solid #eee;
    line-height: 20px;
    margin: 5px;
    padding: 10px;
    width: 90%;
}
.commentform_title {
    color: #000;
    font-size: 14px;
}
.commentform .comment_btn {
    background: rgba(0, 0, 0, 0) url("../images/submit_bg.gif") no-repeat scroll 0 0;
    border: medium none;
    color: #666;
    font: 12px/26px Arial,Helvetica,sans-serif;
    height: 26px;
    margin: 10px 0 0 90px;
    text-align: center;
    width: 85px;
}
.guest_link {
    background-color: #eee;
    border: 1px solid #e4e4e4;
    font-size: 12px;
    margin: 10px;
    padding: 10px;
}
#main .panel_head {
    margin: 5px 0;
}

.announce {
    margin: 0 15px 10px;
}
.commentform {
    margin: 0 10px 10px;
}
.commentform .panel_head {
    margin: 5px 0 !important;
}
.digg_enable {
    background: #ff7900 none repeat scroll 0 0;
    cursor: pointer;
    text-align: center;
}
.digg_disable {
    background: #999 none repeat scroll 0 0;
    cursor: pointer;
    text-align: center;
}
#container .pub_footerall dd, #container .pub_footerall a {
    color: #fff;
}
.medal_intro {
    padding-top: 26px;
}
.blog-associat-tag {
    background: #f5f5f5 none repeat scroll 0 0;
    clear: both;
    margin: 10px 0 0;
    overflow: hidden;
    padding: 25px 20px 10px;
}
.blog-associat-tag dt, .blog-associat-tag dd {
    float: left;
    line-height: 23px;
    margin: 0;
    padding: 0;
}
.blog-associat-tag dt {
    font: 16px/23px "Microsoft YaHei";
    width: 86px;
}
.blog-tage-red {
    background: #e7e7e7 none repeat scroll 0 0;
    border-radius: 10px;
    color: #333333;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 2px 5px 0;
    padding: 0 14px;
}
.blog-tage-red:link, .blog-tage-red:visited {
    color: #333333;
}
.blog-tage-red:hover {
    background: #cc0000 none repeat scroll 0 0;
    color: #fff;
}
.blog-ass-articl {
    background: #f5f5f5 none repeat scroll 0 0;
    clear: both;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 0 20px 20px;
}
.blog-ass-articl dt {
    border-bottom: 2px solid #cccccc;
    clear: both;
    font: 16px/35px "Microsoft YaHei";
    height: 35px;
    margin: 10px 0 15px;
    overflow: visible;
    padding: 0;
}
.blog-ass-articl dt span {
    border-bottom: 2px solid #cc0000;
    display: block;
    float: left;
    height: 35px;
}
.blog-ass-articl dd {
    background: rgba(0, 0, 0, 0) url("../images/blog-dot-red3.gif") no-repeat scroll 0 10px;
    color: #369;
    float: left;
    font: 12px/23px "SimSun";
    height: 23px;
    margin: 0 30px 0 0;
    overflow: hidden;
    padding: 0 0 0 10px;
    width: 42%;
}
.blog-ass-articl dd a:link, .blog-ass-articl dd a:visited, .blog-ass-articl dd a:hover {
    color: #000;
}
.blog-ass-articl dd a:hover {
    color: #cc0000;
    text-decoration: underline;
}
.details .article_content img {
    max-width: 100%;
}
.q-reply {
    border: 0 none;
    border-radius: 0;
    bottom: 35px;
    color: #fff;
    cursor: pointer;
    height: 40px;
    line-height: 16px;
    margin: 0;
    min-width: 40px;
    padding: 0;
    position: fixed;
    right: 40px;
}
.backtop {
    border: 0 none;
    border-radius: 0;
    bottom: 80px;
    color: #fff;
    cursor: pointer;
    height: 40px;
    line-height: 16px;
    margin: 0;
    min-width: 40px;
    padding: 0;
    position: fixed;
    right: 40px;
}
.glyphicon {
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 1px;
}

*/